.container{
    width: 1300px;
    padding: 0;
}

.hero-lists{
    margin-top: 75px;
    column-gap: 125px;
}

.hero-cards{
    display: grid;
    grid-template-columns: repeat(4,minmax(200px,400px));
}

.basket{
    top: -16px;
    right: -16px;
}

.basket:hover{
    opacity: 0.6;
    cursor: pointer;
}

.basket:active{
    opacity: 1;
}

.lang-item:hover{
    cursor: pointer;
    background-color: rgb(233, 231, 231);
}

.hero-link{
    background-color: aqua;
    font-size: 18px;
    font-weight: 600;
}

.hero-link:hover{
    cursor: pointer;
    opacity: 0.7;
}


.basketWrapper{
    display: none;
}

.header-extra:hover .basketWrapper{
    display: flex;
}